body {
    font-size: 20px;
    font-style: italic;
}
 .a{
    background-color: brown;
 }
 .b{
    background-color: blueviolet;
 }
 .c{
    background-color: cadetblue;
 }
 .d{
    background-color: aqua;
 }
 .e{
    background-color: chartreuse;
 }
 .f{
    background-color: coral;
 }
 .g{
    background-color: cornflowerblue;
 }
 .h{
    background-color: crimson;
 }
 .j{
    background-color: deeppink;
 }
 .k{
    background-color: darkturquoise;
 }
 div {
    border: 10px solid red;
  
 }
div {
    display: flex;
   justify-content: flex-start;
   justify-content:flex-end;
   justify-content:center;
   justify-content: space-between ;
   justify-content: space-around;
   justify-content: space-evenly;
}
